# Ignores Google Cloud credentials
google-credentials.json

# Ignores environment variables
.env

# Ignores common macOS system files
.DS_Store
._.DS_Store
.Trashes
.Spotlight-V100
.TemporaryItems
.fseventsd

# Ignores user-specific data and other common macOS hidden files
*.swp
*.bak
*.swo
.AppleDouble
.LSOverride
Icon?
._*
.localized

# Ignores build output directories
/build/
/dist/
/out/

# Ignores dependencies directories
/node_modules/
/vendor/

# Ignores logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignores system files that might be created by various tools
.vscode/
.idea/
*.sublime-project
*.sublime-workspace